<h1>Videotape Pasture</h1>
<h3>A collective-powered collection of taped videos uploaded to Youtube. </br>Videos of bygone eras can rest here for us to love and enjoy.</br>Browse the collection; or, if you know of interesting videotape on Youtube,</br> use the search function to add video to the Pasture.</h3>
<p>Search Youtube:</p>

<form method="GET" action="/search">
  <lable for="search"></lable>
  <input type="text"  id="search" name="videoSearch" />

  <input type="submit" />
</form>