<h1>Videotape Pasture</h1>
<p>Search Youtube:</p>

<form method="GET" action="/search">
  <lable for="search"></lable>
  <input type="text"  id="search" name="videoSearch" />

  <input type="submit" />
</form>